

h1 {
	font-family: 'Six Caps', sans-serif;
	font-size: 100px;
}

h2 {
	font-family: 'Amatic SC', cursive;
}

#made-with-love a {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 200;
	color: #b6b5b5;
	text-decoration: none;
}

.skrollable {
	position: fixed;
	z-index: 100;
}

#nav-block {
	top: 20%;
	right: 3%;
	width: 200px;
	font-family: 'Amatic SC', cursive;
}

#nav {
	background-color: white;
	text-align: center;
	padding: 10px;
	opacity: 0.5;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: rgb(51, 51, 51);
}

#nav a {
	text-decoration: none;
	line-height: 2;
	font-size: 20pt;
	color: black;

}

#nav-bottom {
	position: relative;
	top: 250px;
	font-size: 20pt;
	opacity: 0.5;
	margin-left: 20px;
}

#nav-top {
	margin-left: 10px;
}

#nav-top h2, i {
	font-size: 18pt;
	color: rgb(217, 54, 0);
}


.background {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index:50;	
}

#bg-4 {
	background-color: green;
	color: black;
}

#bg-5 {
	background-color: red;
	color: white;
}


/* Page 1 Styling.
================================= */

#pg1-background {
	background: url("../img/bg-1.png") bottom left no-repeat;
	background-color: rgb(255, 255, 255);
	color: rgb(0,0,0);
	min-height: 400px;
}

.pg1-caption {
	position: relative;
}

#pg1-container {
	max-width: 300px;
	margin-top: 125px;
}

#pg1-header {
	margin-left: 5%;
	margin-top: 2%;
	line-height: 1.0em;
}

/* Page 2 Styling.
================================= */

#pg2-background {
	background-color: rgb(191,231,255);
}

#pg2-header {
	margin-left: 5%;
	margin-top: 2%;
	line-height: 1.0em;
	color: rgb(51,51,51);	
}

#pg2-container h2 {
	color: rgb(0,0,0);
	max-width: 500px;
	line-height: 1.5em;
}

/* Page 3 Styling.
================================= */

#pg3-background {
	background-color: rgb(187,253,105);
}

#pg3-header {
	margin-left: 5%;
	margin-top: 2%;
	line-height: 1.0em;
	color: rgb(51,51,51);	
}

#pg3-container h2 {
	color: rgb(0,0,0);
	max-width: 500px;
	line-height: 1.5em;
	margin-top: 125px;
}

/* Page 4 Styling.
================================= */

#pg4-background {
	background-color: rgb(255,157,48);
}

#pg4-header {
	margin-left: 5%;
	margin-top: 2%;
	line-height: 1.0em;
	color: rgb(255,255,255);	
}

#pg4-container {
	margin-top: 125px;
}

#pg4-container h2 {
	color: rgb(0,0,0);
	max-width: 500px;
}


#email-link {
	width:200px;
	height:30px;
	border: 0;
}

#social-links {

}

#social-links a {
	float: left;
	clear: none;
	font-family: 'Amatic SC', cursive;	
	text-decoration: none;
	font-size: 1.5em;
	color: rgb(0,0,0);
	margin: 10px;
}

#social-links a:hover {
	float:left;
	clear: none;

}

#social-links a .social-icon {
	vertical-align: middle;

}

#media-links p {
	margin-left: 20px;
	font-family: 'Amatic SC', cursive;
	font-size: 25px;	
}

#skrollr-body {
	float: left;
	width: 100%;
	height: 100%;
}

#responsive-bottom {
	width: 100%;
	text-align: center;
	bottom: 0;
	font-family: 'Amatic SC', cursive;
}

@media(max-width:767px){

	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 15px;
	}

	#pg1-container {
		margin-top: 30px;
		margin-right: 30px;
	}

	#pg2-container h2 {
		margin-top: 60px;
		margin-right: 30px;
	}

	#pg3-container h2 {
		margin-top: 60px;
		margin-right: 30px;
	}

	#pg4-container {
		margin-top: 60px;
		margin-right: 30px;
	}

	#pg4-container img {
			width: 50%;
			margin: 0;
	}

	#pg4-container a {
		margin: 0px;
	}

	#pg4-container p {
		font-size: 10px;
	}

	#made-with-love {
		display: none;
	}

	#nav-block {
		display: none;
	}

	#pg1-background {
		background: none;
	}


}

@media(min-width:768px){

	#pg1-container {
		margin-left: 30%;
		margin-top: 20%;
	}

	#pg2-container h2 {
		margin-top: 125px;
	}

	#responsive-bottom {
		display: none;
	}


}

@media(min-width:992px){


}

@media(min-width:1200px){


}